body {
  background-color: #666699;
  font-family: 'Grand Hotel', cursive;
  font-size: 20px;
  text-align: center;
  color: white;
}

.title {
	font-size: 50px;
	margin: 2% auto;
	font-weight: bold;
}

div.pageCenter{
	display: inline-block;
	width: 45%;
}

.footer {
	padding: 2%;
	color: black;
}

#name {
	color: black;
}

#cityinfo {
	vertical-align: top;
}

h1 {
	color: white;
	font-size: 60px;
}


#spotifyPlayer {
	padding: 15px;
}

a {
	text-decoration: none;
	color: white;
}