body {
  background-color: #666699;
  font-family: 'Grand Hotel', cursive;
  font-size: 20px;
  text-align: center;
  color: white;
}

div.pageCenter{
	display: inline-block;
}


h1 {
	color: white;
	font-size: 60px;
}


#spotifyPlayer {
	padding: 15px;
}