<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script>var apiKey = '<%= process.env.API_KEY %>';</script>
   <script src="/js/main.js"></script>
</head>

<body onload="getWeather()">

  <h1>YOYO web apps are so cool</h1>
  <div>
  	<h2 id="city"></h2>
  	<h3 id="temp"></h3>
  </div>
  <p id="demo"></p>

  <button type="button" onclick="myFunction()">Try it</button>

</body>

</html>